import(DT)
import(RColorBrewer)
import(TCGAbiolinks)
import(bsplus)
import(canvasXpress)
import(circlize)
import(crosstalk)
import(ensurer)
import(flexdashboard)
import(ggbeeswarm)
import(ggplot2)
import(htmltools)
import(knitr)
import(maftools)
import(rmarkdown)
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf","rainbow")importFrom("graphics", "strwidth")importFrom("stats", "dist", "hclust", "median", "setNames")importFrom("utils", "count.fields", "read.table", "write.table")